.statistics {
  flex: 1;
  margin: 0em 1em 1em 0.5em;
  border: 1px solid #373737;
  overflow: auto;
}

.statistics p {
  text-align: left;
}

.polygon-list {
  margin-bottom: 1rem;
}

.label {
  text-align: left;
  margin-bottom: 0.5rem;
}

.coordinates {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.ant-collapse-header {
  text-align: left;
}

.actions {
  display: flex;
  gap: 1rem;
}
